;;;
"title": "Home"
;;;



%section
	.container
		.row
			.col-md-3
				%h4.quarter-margin-bottom.bold-font-name.no-margin-top.dark-text-color
					Settings
				%p
					Fraud alert and export settings
			.col-md-9
				.panel
					.panel-body
						%h4.bold-font-name.quarter-margin-bottom.dark-text-color
							Fraud Alert Cancelations
						%p
							When checked, we will automatically cancel orders marked high risk by Shopify.
						%form.margin-top
							.checkbox.input-lg.no-margin.no-padding.height-auto
								%label
									%input{:type=>"checkbox", :checked=>"checked"}
									%span.quarter-margin-left
										Enable Fraud Alert Cancelations
						%hr.margin-top.margin-bottom
						%h4.bold-font-name.quarter-margin-bottom.dark-text-color
							Canceled orders
						%p
							Text explaining what this setting means and why it's important
						%a.btn.btn-default{:hred=>"#"} 
							Export cancled orders
%section
	.container
		.row
			.col-md-3
				%h4.quarter-margin-bottom.bold-font-name.no-margin-top.dark-text-color
					Support
				%p
					We're here to help
			.col-md-9
				.panel
					.panel-body
						%h4.bold-font-name.quarter-margin-bottom.dark-text-color
							Need help or assistance?
						%p
							Please email us at 
							%a{:href=>"mailto:info@tenxecom.com"}
								info@tenxecom.com